{% extends 'layouts/layout.html' %}

{% block css %}

{% endblock %}
{% load static %}
{% block title %}Zařízení | Editovat{% endblock %}

{% block content %}
    <h1>Editace zařízení {{ device.name }}</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Název:</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Název zařízení" value="{{ device.name }}" required>
        </div>

        <div class="form-group">
            <label for="type">Typ zařízení:</label>
            <select class="form-control" id="type" name="type">
                {% for choice in choices %}
                    <option value="{{ choice.0 }}" {% if device.type == choice.0 %}selected{% endif %}>{{ choice.1 }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="ip_address">IP adresa:</label>
            <input type="text" class="form-control" id="ip_address" name="ip_address" placeholder="IP adresa zařízení" value="{{ device.ip_address }}" required>
        </div>

        <div class="form-group">
            <label for="default_url">Výchozí URL adresa:</label>
            <select class="form-control" id="default_url" name="default_url">
                    <option value="">žádná</option>
                    {% for url in urls %}
                        <option value="{{ url.id }}" {% if device.default_url == url %}selected{% endif %}>{{ url.name }} ({{ url.url }})</option>
                    {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="description">Popis:</label>
            <textarea class="form-control" id="description" name="description" rows="3" placeholder="Popis zařízení">{{ device.description }}</textarea>
        </div>

        <input type="submit" class="btn btn-outline-primary" value="Uložit změny">
        <a class="btn btn-outline-secondary float-right" href="/">Zpět</a>
    </form>

    <hr>

        <div class="form-group">
            <label for="url_table"><b>Adresy URL pro přístup k zařízení:</b></label>
            <table id="url_table" class="table table-borderless table-sm text-nowrap">
                <thead>
                    <tr>
                        <td style="width: 10%" class="text-center">URL ID</td>
                        <td style="width: 30%">Popis URL</td>
                        <td style="width: 53%">URL adresa</td>
                        <td style="width: 7%" class="text-center">Správa</td>
                    </tr>
                </thead>
                <tbody id="url_table_body">
                {% if urls %}
                    {% for url in urls %}
                        <tr id="url_{{ url.id }}" class="text-center">
                            <form class="p-0 m-0" method="POST" action="/device/{{ device.id }}/urls/{{ url.id }}/edit">
                                {% csrf_token %}
                                <td class="align-middle">{{ url.id }}</td>
                                <td>
                                    <input class="form-control" name="name" type="text" placeholder="popis URL" value="{{ url.name }}" required>
                                </td>
                                <td>
                                    <input class="form-control" name="url" type="text" placeholder="URL adresa" value="{{ url.url }}" required>
                                </td>
                                <td class="align-middle">
                                    <button type="submit" class="btn btn-outline-primary">
                                        <i class="bi bi-pen"></i>
                                    </button>
                                    <button type="button" class="btn btn-outline-secondary" onclick="$('#deleteForm_{{ url.id }}').submit();">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </td>
                            </form>
                            <form id="deleteForm_{{ url.id }}" method="POST" action="/device/{{ device.id }}/urls/{{ url.id }}/delete" hidden>{% csrf_token %}</form>
                        </tr>
                    {% endfor %}
                {% endif %}

                    <tr id="new_url" class="text-center">
                        <form class="p-0 m-0" action="/device/{{ device.id }}/urls/create" method="POST">
                            {% csrf_token %}
                            <td class="align-middle">nová</td>
                            <td>
                                <input class="form-control" name="new_name" type="text" placeholder="popis URL">
                            </td>
                            <td>
                                <input class="form-control" name="new_url" type="text" placeholder="URL adresa">
                            </td>
                            <td class="align-middle">
                               <button type="submit" class="btn btn-outline-secondary">nová URL</button>
                            </td>
                        </form>
                    </tr>
                </tbody>
            </table>
        </div>
{% endblock %}

{% block script %}

{% endblock %}