{% extends 'layouts/layout.html' %}
    {% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/home/index.css' %}">
{% endblock %}

{% block title %}WebServer{% endblock %}

{% block content %}
    {% load static %}
    <h1>Domácí server</h1>

    <table id="myTable" class="table table-striped table-borderless table-hover w-100 user-select-none">
        <thead class="thead-dark">
            <tr>
                <th hidden>ip_address_numeric_value</th>
                <th>Typ</th>
                <th>Odkazy</th>
                <th>Název</th>
                <th>Poslední změna</th>
                {% if user.is_authenticated %}
                    <th>Editace</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for device in devices %}
                <tr data-toggle="tooltip" data-placement="left" title="{{ device.description }}">
                    <td hidden>{{ device.ip_address_numeric }}</td>
                    <td>{{ device.type }}</td>
                    <td>
                        {% if device.default_url %}
                            <button class="btn btn-link p-0 m-0 url_link" onclick="window.open(`{{ device.default_url.url }}`);" data-toggle="tooltip" data-placement="top" title="{{ device.default_url.name }} ({{ device.default_url.url }})">{{ device.ip_address }}</button>
                        {% else %}
                            <x data-toggle="tooltip" data-placement="top" title="žádná výchozí URL">{{ device.ip_address }}</x>
                        {% endif %}
                        (<a class="url_link" href="/device/{{ device.id }}/urls"><small>všechny URL</small></a>)
                    </td>
                    <td>{{ device.name }}</td>
                    <td>{{ device.updated_at }}</td>
                    {% if user.is_authenticated %}
                        <td>
                            <div class="p-0 m-0 row">
                                <div class="col-6">
                                    <a type="button" href="/device/{{ device.id }}/edit" class="btn btn-outline-dark">
                                        <i class="bi bi-pencil"></i>
                                    </a>
                                </div>

                                <form class="m-0 p-0 col-6" method="post" action="/device/{{ device.id }}/delete" id="deleteForm_{{ device.id }}">
                                    {% csrf_token %}
                                    <button type="button" class="btn btn-outline-danger" id="deleteButton_{{ device.id }}" onclick="deleteFormSubmit(`{{ device.name }}`, document.getElementById(this.id).parentElement.id);">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </form>
                            </div>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="mt-2">
        <a class="btn btn-outline-primary" href="/device/create">Nové zařízení</a>
    </div>

{% endblock %}

{% block script %}
    <script>                                            //řazení tabulky
        $(document).ready(function() {
            $(`#myTable`).DataTable({
                "paging": false,
                "searching": false,
                "info": false,
                columnDefs: [
                {
                    "orderData":[ 0 ],
                    "targets": [ 2 ],
                },
                {
                    "targets": [ 0 ],
                    "visible": false,
                    "searchable": false
                },
                {% if user.is_authenticated %}
                    {
                        orderable: false,
                        targets: 5,
                    },
                {% endif %}
                ]
            }).order([2, 'asc']).draw();
        });
    </script>
    <script type="text/javascript" src="{% static 'js/home/index.js' %}"></script>
{% endblock %}